
<nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid">
        <a class="navbar-brand" routerLink="/recipes">Recipe Book</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
            data-bs-target="#navbarNavDropdown"
            aria-controls="navbarNavDropdown" aria-expanded="false"
            aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <ul class="navbar-nav">
                <li routerLinkActive="active" class="nav-item"
                    *ngIf="isAuthenticated">
                    <a routerLink="/recipes" class="nav-link active"
                        aria-current="page">Recipes</a>
                </li>
                <li routerLinkActive="active" class="nav-item">

                    <a routerLink="/shopping-list"
                        class="nav-link">Shopping
                        List</a>
                </li>
                <li class="nav-item" *ngIf="!isAuthenticated">
                    <a routerLink="/auth"
                        class="nav-link">Authenticate</a>
                </li>
                <li class="nav-item dropdown" appDropdown #drop="appDropDown"
                    *ngIf="isAuthenticated">
                    <a class="nav-link dropdown-toggle"
                        role="button"
                        aria-expanded="false">
                        Manage
                    </a>
                    <ul class="dropdown-menu" [ngClass]="{'show':drop.isOpen}">
                        <li><a class="dropdown-item"
                                style="cursor: pointer;"
                                (click)="onSaveData()">Save
                                Data</a></li>
                        <li><a class="dropdown-item"
                                style="cursor: pointer;"
                                (click)="onFetchData()">Fetch Data
                            </a></li>
                    </ul>
                </li>
                <li routerLinkActive="active" class="nav-item"
                    *ngIf="isAuthenticated">
                    <a style="cursor: pointer;"
                        class="nav-link" (click)="onLogout()">Logout</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
